*{ 
	margin: 0;
	padding: 0;
 }
 .side_nav{
	height:660px;
	width: 200px;
	float: left; 
	box-shadow: 0 2px 2px 2px rgba(0,0,0,0.4);
}
.side_nav ul{
	list-style: none;
}
.side_nav ul li{
	box-shadow: 0 2px 3px -2px rgba(0,0,0,0.4);
}
.side_nav ul li a {
	text-decoration:none;
	height: 40px;
	line-height: 40px;
	font-family: Arial;
	font-size: 17px;
	margin-left: 20px;
	font-weight: bold;
}

.side_nav h3{
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #468bfa;
	color: #fff;
}
.top_nav{
	height: 40px;
	width:1149px;
	float:left;
	box-shadow: 0 3px 3px -3px rgba(0,0,0,0.4);
	background: #f0f3f7;
}
.top_nav ul{
	list-style: none;
}
.top_nav li{
	float: right;
	line-height: 40px;
	font-size: 18px;
	margin-right: 15px;
}
.top_nav li a{
	display: block;
	text-decoration:none;
}